.cosmic {
  position: fixed;
  inset: 0;
  overflow: hidden;
  z-index: -1;
}

.layer {
  position: absolute;
  inset: 0;
  pointer-events: none;
}

/* Background */
.bg {
  background: radial-gradient(ellipse at bottom, #0b0f1a 0%, #000 100%);
}

/* Nebula */
.nebula {
  background:
    radial-gradient(
      circle at 20% 30%,
      rgba(120, 0, 255, 0.15),
      transparent 40%
    ),
    radial-gradient(circle at 80% 70%, rgba(0, 150, 255, 0.15), transparent 40%);
  filter: blur(50px);
}

/* Dense stars */
.star.dense {
  position: absolute;
  width: 1px;
  height: 1px;
  background: white;
  opacity: 0.4;
}

/* Twinkle stars */
.star.twinkle {
  position: absolute;
  width: 2px;
  height: 2px;
  background: white;
  border-radius: 50%;
  animation: twinkle 4s ease-in-out infinite alternate;
}

@keyframes twinkle {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}

/* Shooting star */
.shooting-star {
  position: absolute;
  width: 1.5px;
  height: 60px;
  background: linear-gradient(to top, transparent, white);
  transform: rotate(45deg);
  animation: shoot 6s ease-out forwards;
}

@keyframes shoot {
  0% {
    opacity: 0;
    transform: translate(0, 0) rotate(45deg);
  }
  20% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
    transform: translate(250px, -250px) rotate(60deg);
  }
}

/* Astronaut */
.astronaut {
  position: absolute;
  width: 80px;
  left: 70%;
  top: 40%;
  animation: float 20s ease-in-out infinite alternate;
}

@keyframes float {
  from {
    transform: translateY(0px) rotate(-3deg);
  }
  to {
    transform: translateY(-30px) rotate(3deg);
  }
}

/* Asteroids */

.asteroid {
  position: absolute;
  border-radius: 50%;
  background:
  radial-gradient(circle at 30% 30%, #999 0%, #555 40%, #222 75%, #111 100%);
  
  box-shadow:
    inset -12px -12px 25px rgba(0, 0, 0, 0.6),
    0 0 30px rgba(255, 255, 255, 0.03);
  opacity: 0.6;
  transform-origin: center;
}

/* Big asteroid */
.a1 {
  width: 50px;
  height: 50px;
  top: 20%;
  left: 10%;
  animation:
    asteroidFloat1 120s ease-in-out infinite alternate,
    lightShift 8s ease-in-out infinite;
}

/* Small asteroid */
.a2 {
  width: 40px;
  height: 40px;
  top: 40%;
  left: 85%;
  animation: asteroidFloat2 150s ease-in-out infinite alternate;
  opacity: 0.5;
  filter: blur(1.5px);
}

@keyframes asteroidFloat1 {
  0% {
    transform: translate(0px, 0px) rotate(0deg) scale(1);
  }
  50% {
    transform: translate(150px, -40px) rotate(180deg) scale(1.05);
  }
  100% {
    transform: translate(300px, 20px) rotate(360deg) scale(1);
  }
}

@keyframes asteroidFloat2 {
  0% {
    transform: translate(0px, 0px) rotate(0deg) scale(1);
  }
  50% {
    transform: translate(-120px, 30px) rotate(-180deg) scale(1.03);
  }
  100% {
    transform: translate(-250px, -20px) rotate(-360deg) scale(1);
  }
}

@keyframes lightShift {
  0% {
    filter: brightness(0.9);
  }
  50% {
    filter: brightness(1.05);
  }
  100% {
    filter: brightness(0.9);
  }
}
