#starsDeep {
  position: fixed;
  inset: 0;
  overflow: hidden;
  z-index: -1;
  background:
    radial-gradient(circle at 20% 30%, rgba(120, 0, 255, 0.2), transparent 40%),
    radial-gradient(circle at 80% 70%, rgba(0, 150, 255, 0.2), transparent 40%),
    radial-gradient(ellipse at bottom, #0d1b2a 0%, #000000 100%);
}

.star {
  position: absolute;
  background: white;
  border-radius: 50%;
  opacity: var(--max-op);
  animation: twinkle var(--dur) ease-in-out infinite alternate;
}

.layer {
  position: absolute;
  inset: 0;
}

.layer1 {
  animation: drift 200s linear infinite;
}
.layer2 {
  animation: drift 150s linear infinite;
}
.layer3 {
  animation: drift 100s linear infinite;
}

.shooting-star {
  position: absolute;
  width: 1.5px; /* thin */
  height: var(--length);
  background: linear-gradient(
    to top,
    rgb(255, 255, 255, 0),
    rgba(255, 255, 255, var(--opacity))
  );

  border-radius: 50%;
  transform: rotate(var(--angle));
  animation: shoot var(--duration) ease-out forwards;
  pointer-events: none;

  /* soft subtle glow */
  box-shadow:
    0 0 4px rgba(255, 255, 255, 0.692),
    0 0 10px rgba(180, 220, 255, 0.199);
}

@keyframes shoot {
  0% {
    transform: translate(0, 0) rotate(var(--angle));
    opacity: 0;
  }
  15% {
    opacity: var(--opacity);
  }
  100% {
    transform: translate(var(--distance), calc(var(--distance) * -1))
      rotate(var(--angle));
    opacity: 0;
  }
}

@keyframes drift {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-200px);
  }
}

/* @keyframes twinkle {
  from {
    opacity: 0.2;
  }
  to {
    opacity: var(--max-op);
  }
} */
@keyframes twinkle {
  0%,
  100% {
    opacity: 0;
    transform: scale(0.5);
  }
  50% {
    opacity: var(--max-op);
    transform: scale(1);
  }
}
